* {
    background-color: transparent;
}

.bar-content {
    background-color: @bg_color;
    padding: 6px 3px;
    border: 1px solid @borders;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ws, .pc-status, .time, .vol {
    background: @solid_bg_color;
    border-radius: 4px;
    margin: 0 4px;
}

.w {
    all: unset;
    padding: 2px 8px;
    font-weight: 900;
    transition: 0.2s all ease;
    color: @unfocused_insensitive_color;
    font-size: 13px;
}

.w.occupied {
    color: @fg_color;
}

.w.focused {
    color: @selected_bg_color;
}

.w:hover,
.pc-status:hover
{
    background: @alt_solid_bg_color;
}

.w:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.w:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.vol box {
    padding: 0;
    padding-right: 8px;
    border-radius: 5px;
    transition: 0.2s all ease;
}

.vol label {
    padding: 1px 4px;
}

.vol:hover box {
    background: @alt_solid_bg_color;
}

.volume-type {
    background: @selected_bg_color;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: @selected_fg_color;
}

.pc-status {
    margin: 0 4px;
    margin-left: 8px;
    padding: 1px 8px;
}

.spotify-icon {
    color: @LIME_500;
}

.time {
    padding: 1px 8px;
}
