/* from https://github.com/QNetITQ/WaveFox/blob/main/chrome/special/linux.css */
#main-window:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode]) {
  background-color: color-mix(in srgb, -moz-Dialog 60%, transparent) !important;
}

:root[tabsintitlebar]:is(:not(:-moz-lwtheme), [lwt-default-theme-in-dark-mode])
  #navigator-toolbox-background {
  appearance: none !important;
}

:root:not([tabsintitlebar]):is(
    :not(:-moz-lwtheme),
    [lwt-default-theme-in-dark-mode]
  )
  .titlebar-color {
  appearance: none !important;
}

.browser-toolbar:not(.titlebar-color) {
  background-color: color-mix(
    in srgb,
    var(--toolbar-bgcolor) 70%,
    transparent
  ) !important;
  background-image: none !important;
  padding: 5px 0 !important;
}

#PersonalToolbar {
  padding-top: 0 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
.tab-background:is([selected], [multiselected]) {
  background-color: color-mix(
    in srgb,
    var(--toolbar-bgcolor) 70%,
    transparent
  ) !important;
  background-image: none !important;
  border: 1px solid
    color-mix(in srgb, var(--chrome-content-separator-color) 80%, transparent) !important;
  box-shadow: none !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none !important;
}

#navigator-toolbox {
  border-bottom: none !important;
}

#tabbrowser-arrowscrollbox {
  padding: 2px 4px !important;
  padding-bottom: 1px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 2px !important;
}

.tab-content {
  padding: 0 12px !important;
}

#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: 3.3em !important;
}

#urlbar:not([open="true"]) #urlbar-background {
  border: none !important;
}

#urlbar-input-container {
  color: -moz-dialogtext !important;
}

tab {
  color: -moz-dialogtext !important;
}

#urlbar[breakout] {
  top: 4px !important;
}

#PlacesToolbar menuitem,
#PlacesToolbar menu {
  color: -moz-dialogtext !important;
  margin: 0 !important;
}

#urlbar,
#searchbar {
  color: -moz-dialogtext !important;
}

panelmultiview {
  color: -moz-dialogtext !important;
}

#fxa-menu-header-title {
  color: inherit !important;
}

.subviewbutton {
  color: -moz-dialogtext !important;
}

#sidebar-box {
  color: -moz-dialogtext !important;
}

.menupopup-arrowscrollbox {
  box-sizing: content-box !important;
  padding: 8px !important;
  border-radius: 12px !important;
  box-shadow: none !important;
  background: -moz-dialog !important;
  border: 1px solid
    color-mix(in srgb, var(--chrome-content-separator-color) 80%, transparent) !important;
}

menuseparator {
  margin: 8px 0;
}

#tabbrowser-tabpanels {
  background-color: color-mix(in srgb, -moz-Dialog 60%, transparent) !important;
}

#navigator-toolbox #titlebar {
  background-color: unset !important;
  color: unset !important;
}

#navigator-toolbox #titlebar:-moz-window-inactive {
  background-color: unset !important;
  color: unset !important;
}

#navigator-toolbox-background {
  background: none !important;
}

#navigator-toolbox-background:-moz-window-inactive {
  background: none !important;
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background-color: unset !important;
  color: unset !important;
}

#navigator-toolbox:not(:-moz-lwtheme):-moz-window-inactive {
  background-color: unset !important;
  color: unset !important;
}

#navigator-toolbox {
  background-color: color-mix(
    in srgb,
    var(--toolbar-bgcolor) 70%,
    transparent
  ) !important;
}

body {
  background: unset !important;
}

html {
  background: unset !important;
}

#toolbar-menubar {
  display: none;
}

#urlbar[breakout] {
  top: 67.42px !important;
}
