@theme "index"

* {
    font: "sans 24px";
    horizontal-align: 0.5;
}

window {
    width: 13.5em;
}

inputbar {
    children: [ prompt ];
}

prompt {
    padding: 0.5em;
    font: "sans 16px";
    text-color: @t-prompt;
}

listview {
    lines: 3;
    layout: horizontal;
}

element {
    padding: 1em;
}
